<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Menu.css') }}">
    <title>Menu</title> 
</head>
    
<body>
    <div class="header">
        <div class="container">
            <h1>Clasificación de Riesgo de Enfermedades Respiratorias en Adultos Mayores de Zipaquirá</h1>
            <p>Machine Learning Proyecto</p>
        </div>
    </div>

    <main class="container">
        <div class="menus-container">
            <nav>
                <h2>Fases del Proyecto</h2>
                <ul>
                    <li><a href="/fase1">Fase 1: Entendimiento del negocio</a></li>
                    <li><a href="/fase2">Fase 2: Ingeniería de datos</a></li>
                    <li><a href="/fase3">Fase 3: Ingeniería del modelo</a></li>
                    <li><a href="/fase4">Fase 4: Evaluación del modelo</a></li>
                    <li><a href="/fase5">Fase 5: Despliegue del modelo</a></li>
                    <li><a href="/fase6">Fase 6: Mantenimiento y monitoreo</a></li>
                </ul>
            </nav>

            <nav>
                <h2>Desarrollo de las fases</h2>
                <ul>
                    <li><a href="/datos">Ingeniería de datos</a></li>
                    <li><a href="/entrenar">Modelo de entrenamiento</a></li>
                    <li><a href="#">Otro enlace</a></li>
                </ul>
            </nav>
        </div>
    </main>
</body>

<footer class="footer">
    <div class="footer">
        <p>© 2025 Proyecto Zipaquirá. Todos los derechos reservados.</p>
        <p>Desarrollado por: MANUEL FELIPE MURCIA SUÁREZ<br>
        Universidad de Cundinamarca - Extensión Chía<br>
        Ingeniería de Sistemas</p>
    </div>
</footer>
</html>