<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Menu.css') }}">
    <title>Menu</title> 
</head>
    
<body>
    <div class="header">
        <div class="container">
            <h1>Menu</h1>
            <p>Machine Learning Proyecto Zipaquirá</p>
        </div>
    </div>

    <div class="container">
        <nav>
            <ul>
                <li><a href="/fase1">Fase 1</a></li>
                <li><a href="/fase2">Fase 2</a></li>
                <li><a href="/datos">Crear y tratar datadeed</a></li>
                <li><a href="/fase3">Fase 3</a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
            </ul>
        </nav>
    </div>

</body>

<footer class="footer">
    <div class="footer">
        <p>© 2025 Proyecto Zipaquirá. Todos los derechos reservados.</p>
        <p>Desarrollado por: MANUEL FELIPE MURCIA SUÁREZ<br>
        Universidad de Cundinamarca - Extensión Chía<br>
        Ingeniería de Sistemas</p>
    </div>
</footer>
</html>